<ion-content text-center>
  <img src="../../assets/img/logo.png" width="250"/>
  <p style="color: brown; font-style: auto; font-size: 40px; margin-block-end: 0em; margin-block-start: 0em">COFFEE DEIGH</p>
  <p style="margin-block-start: 0em; font-style: italic">
    All you need to feel better, is coffee!
  </p>

  <ion-button color="medium" [routerLink]="['/new-order']">Place Order
    <ion-icon name="basket"></ion-icon>
  </ion-button>
  <ion-button color="medium" [routerLink]="['/orders']">Show Orders
    <ion-icon name="cart"></ion-icon>
  </ion-button>
</ion-content>
